roi-framework/src/main/resources/integration-fwk-Supporting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://getusroi.com/internal/integration-fwk-Supporting">

	<xs:element name="send">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="drop">
		<xs:complexType>
			<xs:attribute name="value" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="filterResponse">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string"></xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>