leap-framework/src/main/resources/pipeline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://attunedlabs.com/internal/pipeline">
	<xs:element name="Pipeline">
		<xs:complexType>
			<xs:choice>
				<xs:element name="PipelineName" minOccurs="0" maxOccurs="1"
					type="xs:string" />
				<xs:element name="IntegrationPipe" minOccurs="0"
					maxOccurs="1" type="xs:string" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>